#column1-fluid {

	float: left;
	width: 50%;
	
	padding-right: 100px;

}
#column2-fluid {
	float: right;
	width: 50%;
	
	padding-left: 100px;
	
}



table{
  border-collapse: collapse;
  border: 1px solid black;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
}

td, th {
	border: 1px solid;
  text-align: center;
  }

table th{
  padding: 10px;
  background-color: #9DC88D;
  border: 0px;
}

table td{
  padding: 8px;
}

.row1{
  background-color: #F8F8F8;
} 

.row2{
  background-color: #68B187;
}

tr:hover td{
  background-color: #FFF1CB;
	
	.content {
  content: "";
  display: table;
  clear: both;
}

.col-left {
	float: left;
	width: 50%;
	
	padding-right: 100px;
	
}

.col-right {
	float: right;
	width: 50%;
  padding-left: 100px;
}