/* Base Styles */
* {
  box-sizing: border-box;
}

html{
	font-family: Benton-Book,Arial,Sans-Serif;
  padding: 0;
	background: white;
}

body {
	font-size: 1.1875em;         /* ~ 19px base font size */
  line-height: 1.2631578947em; /* ~ 24px base line height */
}

b, strong{
  font-weight: bold;
}

cite, em, i {
  font-style: italic;
}

p {
  padding-bottom: 1.2631578947em;
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 26px;
}

h1 {
	color: #001731;
  font-size: 36px;
  line-height: 38px;
}
h2 {
  font-size: 34px; 
  line-height: 36px;
}
h3 {
	color: #001731;
  font-size: 22px; 
  line-height: 28px;
}
h4 {
  font-size: 20px; 
  line-height: 26px;
}

h5 {
  font-size: 18px; 
  line-height: 22px;
}

h6 {
  font-size: 12px; 
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.28125rem;
  line-height: 16px;
	color: #666666;
	font-weight: bold;
}










/* Layout */
header {
	padding: 30px;
  text-align: center;
  background: #002349;
  border-bottom: 10px solid #957C3D;
  width: 100%;
	margin-bottom: 50px;
	
}

/* Style the top navigation bar */
#navigation{
	width: 100%;
}

.topnav {
  overflow: hidden;
  background-color: #001731;
}

/* Style the topnav links */
.topnav a {
  float: left;
  font-size: 16px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
	text-decoration: underline;
  text-decoration-color: #957C3D;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

/* CSS for dropdown menu */
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */
#footer {
	font-family: FreightBig,Serif,Arial,Sans-Serif;
  padding: 20px;
  text-align: center;
  background-color: #002349;
  margin-top: 20px;
	color: white;
	margin-top: 50px;
}










/* Main content */
section{
	margin-top: 125px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

#column-left {
	float: left;
	width: 45%;
	margin-right: auto;

}

#column-right {
	float: right;
	width: 45%;
	margin-left: auto;
	
}

header, footer, #two-column, #one-column {
	padding-right: 20%;
	padding-left: 20%;
}










/* Media Queries */
          
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
	body {
			background-color: yellow;
	}

	header, footer, #two-column, #one-column {
		padding-right: 10%;
		padding-left: 10%;
	}

	p {
		width: 100%;
	}
	
	#column-left, #column-right {
		float: none;
		width: 100%;
		margin: 0 auto;
	}

	#logo{
		width: 100px;
		height: 100px;
	}
}
	
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 767px) and (max-width: 1024px){
	body {
			background-color: pink;
	}
	
	header, footer, #two-column, #one-column {
		padding-right: 10%;
		padding-left: 10%;
	}

	p {
		width: 75%;
	}
}
	
/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px){
	   body {
			background-color: teal;
	  }
		 
		 header, footer, #two-column, #one-column {
			padding-right: 15%;
			padding-left: 15%;
		}
		
		p {
			width: 100%;
		}
}