/*Base Styles*/
* {
  box-sizing: border-box;
}

html{
	font-family: Benton-Book,Arial,Sans-Serif;
  padding: 0;
	background-color: white;
}

body {
	font-size: 1.1875em;         /* ~ 19px base font size */
  line-height: 1.2631578947em; /* ~ 24px base line height */
}

b, strong{
  font-weight: bold;
}

cite,
em,
i {
  font-style: italic;
}

p {
  padding-bottom: 1.2631578947em;
	margin-top: 0;
	margin-bottom: 15px;
	font-size: 16px;
	line-height: 26px;
}

h1 {
  font-size: 36px;
  line-height: 38px;
}
h2 {
  font-size: 34px; 
  line-height: 36px;
}
h3 {
  font-size: 22px; 
  line-height: 28px;
}
h4 {
  font-size: 20px; 
  line-height: 26px;
}

h5 {
  font-size: 18px; 
  line-height: 22px;
}

h6 {
  font-size: 12px; 
	text-transform: uppercase;
	font-weight: 400;
	letter-spacing: 0.28125rem;
  line-height: 16px;
	color: #737373;
}

/*Layout*/
header {
	padding: 30px;
  text-align: center;
  background: #002349;
  border-bottom: 10px solid #957C3D;
  width: 100%;
	margin-bottom:20px;
}


/* Style the top navigation bar */
#navigation{
	width: 100%;
	
}
.topnav {
  overflow: hidden;
  background-color: #001731;
}

/* Style the topnav links */
.topnav a {
  float: left;
  font-size: 16px;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover, .dropdown:hover .dropbtn {
	text-decoration: underline;
  text-decoration-color: #957C3D;
  text-decoration-thickness: 3px;
  text-underline-position: under;
}

/*CSS for dropdown menu*/
.dropdown {
  float: left;
  overflow: hidden;
}

.dropdown .dropbtn {
  font-size: 16px;  
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit;
  margin: 0;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 75px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  float: none;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: center;
}

.dropdown-content a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content {
  display: block;
}

/* Footer */
#footer {
	font-family: FreightBig,Serif,Arial,Sans-Serif;
  padding: 20px;
  text-align: center;
  background-color: #002349;
  margin-top: 20px;
	color: white;
}


/*Main content*/

section{
	margin-top: 150px;
}

section::after {
  content: "";
  display: table;
  clear: both;
}

#column-left {
	float: left;
	width: 45%;
	
  margin-right: 5%;
	
	padding: 10px;
	
}

#column-right {
	float: right;
	width: 45%;
	margin-left: 5%;

  padding: 10px;
}



/* Media Queries */



/* @650px */

@media screen and (min-width: 40.625em) {
  html {
    padding: 0;
  }
	
  header, footer, #two-column, #one-column {
    padding-right: 5%;
    padding-left: 5%;
  }
	
  p {
    width: 50%;
  }
 
  
  
}

/* @685px */

@media screen and (min-width: 42.8125em) {
	#content{
		background-color: green;
	}
	
  header, footer, #two-column, #one-column {
    padding-right: 10%;
    padding-left: 10%;
  }
	
  p {
    width: 75%;
  }
  
  #column-left {

	background-color: yellow;
	
}

#column-right {
	
	background-color: red;
}
  
}

/* @930px */

@media screen and (min-width: 58.125em) {
	
	#content{
		background-color: pink;
	}
	
  header, footer, #two-column, #one-column {
    padding-right: 20%;
    padding-left: 20%;
  }
	
	p {
    width: 100%;
  }
	
	
	
 
}








/* Responsive layout - when the screen is less than 800px wide, make the two columns stack on top of each other instead of next to each other */
/*
@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
	
	#logo{
		width: 200px;
		height: 200px;
	}
	
	.dropdown {
  float: none;
  overflow: hidden;
  }

}

/* Responsive layout - when the screen is less than 400px wide, make the navigation links stack on top of each other instead of next to each other */
/*
@media screen and (max-width: 400px) {
  .topnav a, .dropdown, .dropbtn {
    float: none;
    width: 100%;
  }
}







