/*CSS for Images*/
div.gallery {
  border: 3px solid #957C3D;
	margin: 1em 0;
  text-align: center;
}

div.test{
	display: flex;
}

div.gallery:hover {
  background-color: #957C3D;
}

div.gallery img {
  float: none;
	width:  250px;
	height: 250px;
	object-fit: cover;
	margin-top: 5px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

.responsive {
  padding: 0 6px;
  float: left;
  width: 24.99999%;
}

@media only screen and (max-width: 960px) {
  .responsive {
    width: 49.99999%;
    margin: 6px 0;
  }
}

@media only screen and (max-width: 500px) {
  .responsive {
    width: 100%;
  }
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
/*Media query to resize image in mobile view*/
@media screen and (max-width: 800px) {
	div.test{
	display: grid;
  }

  div.gallery img {
		float: none;
		width:  200px;
		height: 200px;
		object-fit: cover;
		margin-top: 5px;
  }
}

.p1{
	font-size: 25px;
	text-align: left;
}

.leftcolumn {   
  float: none;
  width: 100%;
}

.col1 {
	float: left;
	width: 50%;
	padding-right: 50px;
}

.col2 {
	float: left;
	width: 50%;
 padding-left: 50px;
}

.content {
  content: "";
  display: table;
  clear: both;
}

@media screen and (max-width: 800px) {
  .leftcolumn, .rightcolumn {   
    width: 100%;
    padding: 0;
  }
	#logo{
		width: 200px;
		height: 200px;
	}
	
	.dropdown {
  float: none;
  overflow: hidden;
  }
	
	.col1, .col2 {
	float: none;
	width: 100%;
	
}
